<!-- <h1>Online Auction</h1>
<nav>
  <a routerLink="list" routerLinkActive="active">List Auction</a>
  <a routerLink="add" routerLinkActive="active">Add Auction</a>
</nav> -->

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Online Auction</span>
    <span class="example-spacer"></span>
    {{ userName }}
    <button mat-icon-button aria-label="Logout" (click)="onLogout()">
      <mat-icon>launch</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
