<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Leirão Online</span>
    <button
      mat-icon-button
      aria-label="Adicionar"
      routerLink="add"
      routerLinkActive="active"
    >
      <mat-icon>add_circle</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <mat-icon>person</mat-icon>
    {{ userName }}
    <button mat-icon-button aria-label="Logout" (click)="onLogout()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container-app">
  <router-outlet></router-outlet>
</div>
